{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'orders/favicon.ico' %}"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>-->


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

        {% block scripts %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
      <div id="header" style="padding-bottom:10px;">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td class="green" width="20%">&nbsp;</td>
              <td width="60%">
                <img height="140" src="http://www.pinocchiospizza.net/images/pinocchio_72.gif" alt="Pinocchio"/>
                <h1>Pinocchio's Pizza &amp; Subs</h1>
                <h2>74 Winthrop Street<br />
                Harvard Square<br />
                617-876-4897</h2>
              </td>
              <td class="red" width="20%">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container-fluid">
        <div class="row mx-0 my-1">
          <div class="col d-flex justify-content-start">
            <a href="{% url 'index' %}" class="px-1">Home</a>
          </div>
          <div class="col d-flex justify-content-end">
            <a href="{% url 'cart' %}" class="px-1"><img src="{% static 'orders/cart.png' %}" width="25" height="25"></a>
            <a href="{% url 'orders' %}" class="px-1">Orders</a>
            <a href="{% url 'logout' %}" class="px-1">Logout</a>
          </div>
        </div>
        <div class="row mx-0 my-1">
          <!--{% if request.user.is_staff %}-->
            <a href="{% url 'staff' %}" class="px-1">Staff Portal</a>
          <!--{% endif %}-->
        </div>
      </div>

      {% block body %}
      {% endblock %}
    </body>
</html>
